.header {
  border-style: solid;
  border-color: aqua;
  border-radius: 50px;
}
h1 {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  margin-left: 100;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 365px;
}
h2 {
  background-color: #0a0a23;
  color: #ffffff;
  padding-left: 400px;
  margin-left: 100;
  font-size: 75px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 600px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, rgb(255, 172, 51));
  border: 3px solid #feac32;
}
.fa-coins {
  color: #feac32;
}
.fa-circle {
  color: #574343;
}
.fa-diamond {
  color: #ff0000;
}

.fa-heart {
  color: #ff0000;
}

.fa-shield {
  color: #000000;
}
